@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

h1 {
    color: rgb(142, 142, 142);
    text-align: center;
    margin: 1rem;
    font-weight: normal;
}

.name {
    font-size: 2.5rem;
    color: black;
    font-weight: 600;
}

.mid {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.image {
    display: flex;
    flex-direction: column;
    width: 8rem;
    height: auto;
    margin: 0.5rem;
    border: 0.15rem solid rgb(224, 224, 224);
    background-color: aliceblue;
    border-radius: 0.5rem;
    align-items: center;
}

.imageDC {
    width: 7rem;
    height: auto;
    margin: 1rem;
}

.dC {
    margin: 0 1rem 1rem 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.image {
    width: calc(25% - 1rem)
    }


@media only screen and (max-width: 768px) {
    .mid {
        flex-wrap: wrap;
    }
    .image {
    width: calc(50% - 1rem);
    }
}

.btn {
    font-size: 1.2rem;
    color: white;
    background-color: black;
    border: none;
    border-radius: 1.4rem;
    padding: 0.3rem 4rem 0.3rem 4rem;
    margin: 1rem 5rem 1rem 5rem;
}

/* createAccount page */

.account {
    display: flex;
    flex-direction: column;
}

.email, .password {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emailLabel {
    margin-top: 2rem;
    margin-bottom: -0.6rem;
}

.passwordLabel {
    margin-bottom: -0.6rem;
}

.terms {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}

.termsLabel {
    font-size: 0.7rem;
}

#terms {
    margin: 0 0.5rem 0 0;
}

/* chooseGoal page */

.step {
    text-align: center;
    margin: 1rem;
    font-size: 0.8rem;
}


.midGoal {
    display: flex;
}

.imageG {
    width: 3rem;
    height: auto;
    margin: 1.5rem 2rem 0.5rem 2rem;
    /* margin-bottom: 0rem; */
}

.lossGoal, .gainGoal {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.15rem solid rgb(224, 224, 224);
    background-color: aliceblue;
    margin: 1rem;
    border-radius: 0.5rem;
}

.sex, .goal {
    font-weight: 600;
    margin: 0.5rem 1rem 0 1rem;
}

input[type=radio] {
    height: 1rem;
    margin: 1rem;
}

/* ChooseSex Page */

.chooseSex {
    margin: 1rem 1rem -1rem 1rem;
}

.birthDate {
    display: flex;
    flex-direction: column;
}

input[type=date] {
    margin: 1rem;
}

/* ChooseMetrics Page */

.metrics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=text], input[type=password] {
    height: 2rem;
    width: 20rem;
    margin: 1rem;
}

/* chooseDiet page */
/* chooseLifestyle */

.dietSelect, .lifeSelect {
    display: flex;
    flex-direction: column;
}

.diet, .life {
    /* background-color: rgb(243, 243, 243); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    border: 0.15rem solid rgb(224, 224, 224);
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 1rem;
}

.dietImage, .lifeImage {
    display: flex;
    align-items: center;
}

.imageD, .imageL {
    width: 2rem;
    height: auto;
    margin-right: 1rem;
    margin-bottom: 0rem;
}

#diet, #life {
    margin: 0 0 0 2rem;
}

/* chooseWLorWGGoal */

h2 {
    text-align: center;
}

input[type=range] {
    width: 20rem;
}

/* summary page */

.summary {
    width: 80%;
}

